version: '3.9'

services:
  api:
    build:
      context: .
      dockerfile: WebAPI/Dockerfile
    container_name: hexagonal-api
    ports:
      - "5000:80"   # HTTP
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=hexagonaldb;Username=postgres;Password=postgres
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: hexagonal-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: hexagonaldb
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
